/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}
header{
    color: white;
    background-color: #93d0f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Add in your own customisations */

.sections{
    padding-bottom: 20px;
    padding-top: 20px;
}

table, th, td{
    border: 1px solid;
    border-color: #ddd;
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

table{
    width: 100%;

}


.links{
    color: #0079c1;
}

footer{
    background-color: #93d0f4;
    padding: 10px;
    color: white;
    text-align: center;
    
}



